{
   "$schema": "https://json.schemastore.org/swcrc",
   "module": {
      "type": "commonjs"
   },
   "sourceMaps": false,
   "minify": true,
   "jsc": {
      "externalHelpers": false,
      "parser": {
         "syntax": "typescript",
         "tsx": true,
         "decorators": true,
         "dynamicImport": false
      },
      "target": "es2022",
      "minify": {
         "compress": {
            "booleans_as_integers": true,
            "dead_code": true,
            "unused": true,
            "ecma": "2020",
            "reduce_vars": true,
            "reduce_funcs": true,
            "keep_classnames": true,
            "keep_fargs": false,
            "keep_fnames": true
         },
         "mangle": {
            "keepClassNames": true,
            "keepFnNames": true,
            "keepPrivateProps": true
         }
      },
      "transform": {
         "react": {
            "useBuiltins": true
         }
      },
      "baseUrl": "src",
      "paths": {
         "react": [
            "client/modules/react.ts"
         ],
         "react-dom": [
            "client/modules/react-dom.ts"
         ],
         "@client": [
            "client/index.ts"
         ],
         "@client/*": [
            "client/*"
         ],
         "@styles/*": [
            "client/styles/*"
         ],
         "@entities": [
            "client/entities/index.ts"
         ],
         "@entities/*": [
            "client/entities/*"
         ],
         "@structures/*": [
            "client/structures/*"
         ],
         "@webpack": [
            "client/modules/webpack/index.ts"
         ],
         "@webpack/*": [
            "client/modules/webpack/*"
         ],
         "@utilities/*": [
            "common/utilities/*"
         ],
         "@utilities": [
            "common/utilities/index.ts"
         ],
         "@constants": [
            "common/constants.ts"
         ],
         "@patcher": [
            "client/modules/patcher/index.ts"
         ],
         "@patcher/*": [
            "client/modules/patcher/*"
         ],
         "@components": [
            "client/components/index.ts"
         ],
         "@components/*": [
            "client/components/*"
         ],
         "@api": [
            "client/api/index"
         ],
         "@api/*": [
            "client/api/*"
         ],
         "@core/*": [
            "client/core/*"
         ],
         "@modules/*": [
            "client/modules/*"
         ],
         "@common/*": [
            "common/*"
         ],
         "@package": [
            "../package.json"
         ],
         "@compilers/*": [
            "preload/compilers/*"
         ],
         "@managers": [
            "client/managers/index.ts"
         ],
         "@managers/*": [
            "client/managers/*"
         ],
         "@root/*": [
            "*"
         ]
      }
   }
}