.unbound-boundary-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
}

.unbound-boundary-retry {
   margin: auto;
   margin-bottom: 15px;
   padding: 5px;
   color: var(--interactive-normal);
   cursor: pointer;
}

.unbound-boundary-retry:hover {
   background: var(--background-modifier-hover);
   border-radius: 5px;
}

.unbound-boundary-integration-card {
   padding: 0 20px;
}

.unbound-boundary-align {
   display: flex;
   align-items: center;
}

.unbound-boundary-error-wrapper {
   background: var(--background-secondary-alt);
   overflow: overlay overlay;
   color: var(--text-normal);
   border-radius: 3px;
   margin-top: 15px;
   white-space: pre;
   display: flex;
   padding: 10px;
   border: none;
}

.unbound-boundary-error-wrapper::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
   height: 5px;
}

.unbound-boundary-error-wrapper::-webkit-scrollbar-thumb {
   border-radius: 15px;
   background-color: var(--scrollbar-thin-thumb);
   /* width: 18px;
   height: 18px; */
}

.unbound-boundary-error-details {
   padding: 10px;
   padding-bottom: 7.5px;
   padding-right: 7.5px;
   white-space: pre;
}

.unbound-boundary-scroller {
   overflow: auto !important;
}

.unbound-boundary-divider {
   margin-top: 20px;
}

.unbound-boundary-integration-icon {
   color: var(--text-muted);
   float: right;
}

.unbound-boundary-sad-wumpus {
   padding-top: 50px;
   display: flex;
   margin: auto;
}

.unbound-boundary-notice {
   margin: 25px 0;
   text-align: center;
}