.unbound-show-the-icons-icon {
	width: 32px;
	height: 32px;
	color: var(--interactive-normal);
	margin: 5px;
}

.unbound-show-the-icons {
	display: flex;
	flex-grow: 0;
	flex-direction: row;
}