.unbound-addon-card {
   position: relative;
   border-radius: 4px;
   background: var(--deprecated-card-editable-bg);
   border-left: 5px solid var(--entity-color);
   flex-grow: 1;
   padding: 15px;
   margin: 10px 0 10px 0;
}

.unbound-addon-page-header {
   margin-bottom: 25px;
}

.unbound-addon-type-icon {
   color: var(--text-muted);
}

.unbound-addon-header {
   display: flex;
   padding-bottom: 10px;
   align-items: center;
}

.unbound-addon-name {
   font-weight: 500;
   padding-right: 7.5px;
}

.unbound-addon-controls {
   margin-left: auto;
   display: flex;
}

.unbound-addon-description div[class*='paragraph'] {
   margin-bottom: 0;
}